<!DOCTYPE html>
<html lang="en">

<body id="page-top">
    <!-- Masthead-->
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Ready for life in Idaho?</div>
            <!--<div class="masthead-heading text-uppercase">Ready for life in Idaho?</div>-->
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="https://mayakoch.silvercreekrealty.com/">Search Homes</a>
        </div>
    </header>
    <!-- Contact-->
    <section class="page-section bg-white" id="contact">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Contact Me</h2>
                <h3 class="section-subheading text-muted">Reach out and I'll be happy to help you buy or sell a home in Southwest Idaho.</h3>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-mobile-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">
                        <a href="tel:2075508075">(207) 550-8075</a>
                    </h4>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3"><a href="mailto:maya@mayakochrealty.com">maya@mayakochrealty.com</a> </h4>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3"><a href="https://www.facebook.com/Maya-Koch-Realty-103929421768133">Facebook</a></h4>
            </div>
        </div>
    </section>
    <!-- About-->
    <section class="page-section bg-light" id="about">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">About</h2>
                <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
            </div>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-5">
                    <p>
                        The Boise Metro housing market is on fire! As a realtor, resident, and homeowner in Ada County,
                        I can confirm homes are selling just as fast as they are being listed. Whether you are looking to
                        buy or sell, my team and I can help you through the sometimes difficult and always fast-paced
                        realty process. With combined experience, we have 30+ years in the business plus extensive
                        knowledge about everything Idaho has to offer! As a team we serve the greater Boise area including
                        Nampa, Meridian, Eagle, Kuna, Cascade, Garden Valley, and Crouch.
                    </p>
                </div>
                <div class="col-lg-5">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="assets/img/maya/MayaKochRealtor_Leaves.jpg" alt="" />
                        <h4>Maya Koch</h4>
                        <p class="text-muted">Realtor® in Greater Boise</p>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </section>
    <!-- Team-->
    <section class="page-section bg-white" id="team">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">My Teammates</h2>
                <h3 class="section-subheading text-muted">I'm part of great Silver Creek Realty team led by Vivian Chan.</h3>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="assets/img/team/VivianChan_Realtor.png" alt="" />
                        <h4>Vivian Chan</h4>
                        <p class="text-muted">Team Leader</p>
                        <a href="https://vivianchan.silvercreekrealty.com">
                            <span class="fa-stack fa-4x" style="color:white">
                                <i class="fas fa-circle fa-stack-1x"></i>
                                <i class="fas fa-globe fa-stack-1x text-primary"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="assets/img/team/JennyOlin_Realtor.jpg" alt="" />
                        <h4>Jenny Olin</h4>
                        <p class="text-muted">Teammate</p>
                        <a href="https://jennyolin.silvercreekrealty.com">
                            <span class="fa-stack fa-4x" style="color:white">
                                <i class="fas fa-circle fa-stack-1x"></i>
                                <i class="fas fa-globe fa-stack-1x text-primary"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <!--keywords-->
            <p style="color:#fff;font-size:6px">
                real estate agent. real estate agents. Idaho realtor. Boise realtor. Idaho mls. Boise mls. best realtor.
                selling a home. selling your home. sell my home.
            </p>
        </div>
    </section>

    <!--Facebook Messenger Plugin-->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v10.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your Chat Plugin code -->
    <div class="fb-customerchat"
         attribution="setup_tool"
         page_id="103929421768133"
         theme_color="#DCA2FC"
         logged_in_greeting="Hi! How can we help you?"
         logged_out_greeting="Hi! How can we help you?">
    </div>
</body>
</html>