<!--Facebook SDK-->
<div class="fb-customerchat"
     page_id="<PAGE_ID>">
</div>
<script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: 'your-app-id',
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v9.0'
            });

            FB.CustomerChat.showDialog();
        };
</script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js"></script>
